# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor directories
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Database
/data/*.db

# Pytest
.pytest_cache/
